# ![nasa_logo.png]() **NASA FIRMS - How to use FIRMS API in Python**

In this tutorial we will look into using FIRMS API to access up-to-date fire detections. We will cover:

- FIRMS MAP_KEY
- FIRMS API end points
- explain FIRMS datasets on how to use them

**Programming language:** Python

**Libraries:**  [pandas](https://pandas.pydata.org)

---

**LEVEL:** Beginner

---

**Remember to execute code in order**

At first, let's look what API stands for. If it confuses you, don't worry, just try to follow our code examples and see if it becomes clearer to you.

**What is an API?**

APIs are mechanisms that enable two software components to communicate with each other using a set of definitions and protocols. For example, the weather bureau’s software system contains daily weather data. The weather app on your phone “talks” to this system via APIs and shows you daily weather updates on your phone.


**What does API stand for?**

API stands for Application Programming Interface. In the context of APIs, the word Application refers to any software with a distinct function. Interface can be thought of as a contract of service between two applications. This contract defines how the two communicate with each other using requests and responses. Their API documentation contains information on how developers are to structure those requests and responses.

*https://aws.amazon.com/what-is/api/*

To view current FIRMS API calls visit https://firms.modaps.eosdis.nasa.gov/api/.

In this tutorial we will explore these FIRMS API points:
- [area](https://firms.modaps.eosdis.nasa.gov/api/area)
- [countries](https://firms.modaps.eosdis.nasa.gov/api/countries)
- [country](https://firms.modaps.eosdis.nasa.gov/api/country)
- [data_availability](https://firms.modaps.eosdis.nasa.gov/api/data_availability)

---

## Get FIRMS API Key (MAP_KEY)

---

In order to provide access to FIRMS data, we require our users to sign up for a **FREE** API / map key (we call it: MAP_KEY).

The MAP_KEY was designed to conserve FIRMS resources, so everyone could have a reasonable access to our data. For example, a download script with an error could end up requesting too much data or query our database with high frequency.

FIRMS MAP_KEY was originally designed to facilitate only mapserver visualization queries, but now can be used for other requests. For example:

- Web Map Service (WMS)
- Web Feature Service (WFS)
- API

To sign up, visit https://firms.modaps.eosdis.nasa.gov/api/map_key

FIRMS MAP_KEY limits your usage to a 10-minute window. So if you exceed your limit, after 10 minutes, it resets so you can use the system again.

---

## Test Your MAP_KEY

---

In [2]:
from dotenv import load_dotenv
import os
import pandas as pd

# Load environment variables
load_dotenv()

# Get the MAP_KEY from the .env file
MAP_KEY = os.getenv("FIRMS_MAP_KEY")

# now let's check how many transactions we have
import pandas as pd
url = 'https://firms.modaps.eosdis.nasa.gov/mapserver/mapkey_status/?MAP_KEY=' + MAP_KEY
try:
  df = pd.read_json(url,  typ='series')
  display(df)
except:
  # possible error, wrong MAP_KEY value, check for extra quotes, missing letters
  print ("There is an issue with the query. \nTry in your browser: %s" % url)

transaction_limit             1000
current_transactions             1
transaction_interval    10 minutes
dtype: object

In [3]:
# let's create a simple function that tells us how many transactions we have used.
# We will use this in later examples

def get_transaction_count() :
  count = 0
  try:
    df = pd.read_json(url,  typ='series')
    count = df['current_transactions']
  except:
    print ("Error in our call.")
  return count

tcount = get_transaction_count()
print ('Our current transaction count is %i' % tcount)

Our current transaction count is 1

---

## API/data_availability

---

This service is designed to inform users about date range availability of our supported datasets.

For more information visit https://firms.modaps.eosdis.nasa.gov/api/data_availability

Let's see the full list of available sensors and their supported date ranges.

In [4]:
# let's query data_availability to find out what date range is available for various datasets
# we will explain these datasets a bit later

# this url will return information about all supported sensors and their corresponding datasets
# instead of 'all' you can specify individual sensor, ex:LANDSAT_NRT
da_url = 'https://firms.modaps.eosdis.nasa.gov/api/data_availability/csv/' + MAP_KEY + '/all'
df = pd.read_csv(da_url)
display(df)

            data_id    min_date    max_date
0         MODIS_NRT  2024-03-01  2024-07-01
1          MODIS_SP  2000-11-01  2024-02-29
2  VIIRS_NOAA20_NRT  2019-12-04  2024-07-01
3  VIIRS_NOAA21_NRT  2024-01-17  2024-07-01
4    VIIRS_SNPP_NRT  2024-02-01  2024-07-01
5     VIIRS_SNPP_SP  2012-01-20  2024-01-31
6       LANDSAT_NRT  2022-06-20  2024-06-29
7          GOES_NRT  2022-08-09  2024-07-01
8          BA_MODIS  2000-11-01  2023-12-01

**data_id** column shows the dataset id which we will need in later queries:
- 'NRT' means this is Near Real-Time dataset but it may also includes Real Time (RT) and Ultra Real Time (URT) data [click here more info on URT/RT](https://www.earthdata.nasa.gov/faq/firms-faq#ed-urt-rt-data)
- 'SP' or Standard Processing; standard data products are an internally consistent, well-calibrated record of the Earth’s geophysical properties to support science. There is a multi-month lag in this dataset availability. [more information on SP vs NRT](https://www.earthdata.nasa.gov/faq/firms-faq#ed-nrt-standard)
- BA_MODIS is for MODIS burned areas product

**min_date** and **max_date** columns provide the available date range for these datasets. Dates are based on GMT

In [5]:
# now let's see how many transactions we use by querying this end point

start_count = get_transaction_count()
pd.read_csv(da_url)
end_count = get_transaction_count()
print ('We used %i transactions.' % (end_count-start_count))

# now remember, after 10 minutes this will reset

We used 5 transactions.

---

## API/area

---

Fire detection hotspots based on area, date and sensor. For more information visit https://firms.modaps.eosdis.nasa.gov/api/area

The end point expects these parameters: [MAP_KEY], [SOURCE], [AREA_COORDINATES],[DAY_RANGE] and optionally [DATE] for historical data

**NOTE** - querying the entire world for VIIRS can return between 30,000 - 100,000+ records per day

In [6]:
# in this example let's look at VIIRS NOAA-20, entire world and the most recent day
area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + MAP_KEY + '/VIIRS_NOAA20_NRT/world/1'
start_count = get_transaction_count()
df_area = pd.read_csv(area_url)
end_count = get_transaction_count()
print ('We used %i transactions.' % (end_count-start_count))

df_area

We used 36 transactions.

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,64.54241,-155.74249,347.77,0.77,0.77,2024-07-01,39,N20,VIIRS,n,2.0NRT,286.38,23.81,D
1,64.54546,-155.79204,353.02,0.76,0.77,2024-07-01,39,N20,VIIRS,n,2.0NRT,289.96,10.56,D
2,64.54608,-155.78584,337.30,0.76,0.77,2024-07-01,39,N20,VIIRS,n,2.0NRT,289.02,10.54,D
3,64.54708,-155.80144,334.60,0.76,0.77,2024-07-01,39,N20,VIIRS,n,2.0NRT,289.14,10.54,D
4,64.55251,-155.78835,329.76,0.76,0.77,2024-07-01,39,N20,VIIRS,n,2.0NRT,288.65,10.56,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69756,-19.37600,45.92350,304.97,0.57,0.52,2024-07-01,2138,N20,VIIRS,n,2.0NRT,284.29,1.92,N
69757,-19.37391,45.93759,311.63,0.57,0.52,2024-07-01,2138,N20,VIIRS,n,2.0NRT,285.46,1.78,N
69758,-19.32078,45.84616,297.90,0.57,0.52,2024-07-01,2138,N20,VIIRS,n,2.0NRT,287.15,1.11,N
69759,-18.90173,44.99960,313.68,0.33,0.55,2024-07-01,2138,N20,VIIRS,n,2.0NRT,288.36,0.72,N
69760,-18.89896,45.00080,316.03,0.33,0.55,2024-07-01,2138,N20,VIIRS,n,2.0NRT,288.97,1.06,N

In [7]:
# We can also focus on a smaller area ex. South Asia and get the last 3 days of records
area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + MAP_KEY + '/VIIRS_NOAA20_NRT/54,5.5,102,40/3'
df_area = pd.read_csv(area_url)
df_area

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,15.99118,97.68981,325.73,0.32,0.55,2024-06-29,610,N20,VIIRS,n,2.0NRT,288.06,2.12,D
1,17.23680,100.01448,334.41,0.43,0.46,2024-06-29,610,N20,VIIRS,n,2.0NRT,289.73,4.81,D
2,18.04857,99.82817,335.34,0.43,0.46,2024-06-29,610,N20,VIIRS,n,2.0NRT,291.27,4.62,D
3,21.94064,95.30874,332.15,0.35,0.57,2024-06-29,612,N20,VIIRS,n,2.0NRT,286.24,11.66,D
4,21.94136,95.31211,356.30,0.35,0.57,2024-06-29,612,N20,VIIRS,l,2.0NRT,287.15,20.95,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,21.89830,56.22340,317.87,0.50,0.49,2024-07-01,2125,N20,VIIRS,n,2.0NRT,276.18,1.39,N
870,21.93683,57.07272,319.11,0.45,0.47,2024-07-01,2125,N20,VIIRS,n,2.0NRT,280.44,1.71,N
871,21.93944,57.07544,312.98,0.45,0.47,2024-07-01,2125,N20,VIIRS,n,2.0NRT,280.81,1.40,N
872,21.93993,57.07112,304.02,0.45,0.47,2024-07-01,2125,N20,VIIRS,n,2.0NRT,279.66,1.10,N
873,22.40468,56.98859,301.90,0.46,0.47,2024-07-01,2125,N20,VIIRS,n,2.0NRT,274.70,0.54,N

---

## API/countries

---

List of supported countries and their 3-letter codes. This may be easier to read in html format https://firms.modaps.eosdis.nasa.gov/api/countries/?format=html however, you won't be able to see the exent box defined for each country.

Example below shows how you can view from Python.

In [10]:
# We can also focus on smaller area ex. South Asia and get last 3 days of records
countries_url = 'https://firms.modaps.eosdis.nasa.gov/api/countries'
df_countries = pd.read_csv(countries_url, sep=';')
df_countries.head(50)

,id,abreviation,name,extent
0,1,ABW,Aruba,"BOX(-70.0624080069999 12.417669989,-69.8768204..."
1,2,AFG,Afghanistan,"BOX(60.4867777910001 29.3866053260001,74.89230..."
2,3,AGO,Angola,"BOX(11.6693941430001 -18.0314047239998,24.0617..."
3,4,AIA,Anguilla,"BOX(-63.4288223949999 18.1690941430001,-62.972..."
4,6,ALA,Aland Islands,"BOX(19.5131942070001 59.9044863950001,21.09669..."
5,5,ALB,Albania,"BOX(19.2720325110001 39.637013245,21.036679321..."
6,7,AND,Andorra,"BOX(1.4064563390001 42.4286774700001,1.7650907..."
7,8,ARE,United Arab Emirates,"BOX(51.5693465500001 22.6209459430001,56.38363..."
8,9,ARG,Argentina,"BOX(-73.5880358489999 -55.0520158829998,-53.66..."
9,10,ARM,Armenia,"BOX(43.4362939860001 38.8637012740001,46.60261..."
10,11,ASM,American Samoa,"BOX(-171.086537239 -14.5328915339999,-168.1604..."
11,12,ATA,Antarctica,"BOX(-180 -90,180 -60.516208592)"
12,13,ATF,French Southern and Antarctic Lands,"BOX(39.7282820970001 -49.7216122379999,77.5852..."
13,14,ATG,Antigua and Barbuda,"BOX(-61.8941544259999 16.9892438820001,-61.667..."
14,15,AUS,Australia,"BOX(112.919444207 -54.750420831,159.106455925 ..."
15,16,AUT,Austria,"BOX(9.52115482500011 46.3786430870001,17.14833..."
16,17,AZE,Azerbaijan,"BOX(44.7745585530002 38.392644755,50.625743035..."
17,18,BDI,Burundi,"BOX(28.9868917230001 -4.46334401499993,30.8339..."
18,19,BEL,Belgium,"BOX(2.52179992769047 49.495222881,6.3745251870..."
19,20,BEN,Benin,"BOX(0.759880818000113 6.21389923179639,3.83741..."
20,21,BFA,Burkina Faso,"BOX(-5.52257808499988 9.39188262900012,2.39016..."
21,22,BGD,Bangladesh,"BOX(88.0217895920001 20.738714911,92.642851197..."
22,23,BGR,Bulgaria,"BOX(22.3450232340001 41.2381041470001,28.60352..."
23,24,BHR,Bahrain,"BOX(50.448903842 25.7895368510001,50.645659813..."
24,25,BHS,Bahamas,"BOX(-79.5943497389999 20.9123989090001,-72.746..."
25,26,BIH,Bosnia and Herzegovina,"BOX(15.7160738520001 42.5592121380002,19.61888..."
26,27,BLM,Saint-Barthelemy,"BOX(-62.8673396479999 17.8819847680001,-62.791..."
27,28,BLR,Belarus,"BOX(23.165644979 51.2351683560001,32.719532104..."
28,29,BLZ,Belize,"BOX(-89.2365122079999 15.8796519990001,-87.783..."
29,30,BMU,Bermuda,"BOX(-64.8859939889704 32.2480773815958,-64.647..."
30,31,BOL,Bolivia,"BOX(-69.6664922699999 -22.8972575879999,-57.46..."
31,32,BRA,Brazil,"BOX(-74.018474691 -33.742280375,-28.8770645819..."
32,33,BRB,Barbados,"BOX(-59.6542048819999 13.051174221,-59.4269099..."
33,34,BRN,Brunei Darussalam,"BOX(113.99878991 4.01668101000011,115.36074100..."
34,35,BTN,Bhutan,"BOX(88.7300667720001 26.6961493940002,92.08877..."
35,36,BWA,Botswana,"BOX(19.9783459880001 -26.891794128,29.35007368..."
36,37,CAF,Central African Republic,"BOX(14.3872660720001 2.23645375600006,27.44130..."
37,38,CAN,Canada,"BOX(-141.005548637109 41.6690855920001,-52.616..."
38,39,CHE,Switzerland,"BOX(5.95480920400013 45.820718486,10.466626831..."
39,40,CHL,Chile,"BOX(-109.453724739 -55.9185042229998,-66.42080..."
40,41,CHN,China,"BOX(73.6022563070002 15.775376695,134.77257938..."
41,42,CIV,Cote d'Ivoire,"BOX(-8.61871984899992 4.34406159100013,-2.5063..."
42,43,CMR,Cameroon,"BOX(8.50505618600005 1.65455129000014,16.20772..."
43,44,COD,Democratic Republic of the Congo,"BOX(12.2105548693531 -13.4583505239999,31.2804..."
44,45,COG,Republic of Congo,"BOX(11.1140163040629 -5.01963083599986,18.6424..."
45,46,COK,Cook Islands,"BOX(-165.824533658 -21.9388973939999,-157.3128..."
46,47,COL,Colombia,"BOX(-81.72370358 -4.23648447699985,-66.8750605..."
47,48,COM,Comoros,"BOX(43.2132267590002 -12.3803036439999,44.5290..."
48,49,CPV,Cape Verde,"BOX(-25.3604223299999 14.8039411480001,-22.666..."
49,50,CRI,Costa Rica,"BOX(-87.1176651679999 5.51508209800012,-82.562..."

---

## API/country

---

Provides data specific to a country, although not recommended for large countries such as USA, China, Canada, Russia due to the complexity and size of their polygon shape which may cause the query to time out. To figure out the country code, see [/api/countries](https://firms.modaps.eosdis.nasa.gov/api/countries/?format=html) (example above).

In [9]:
# Let's see last four days MODIS data for Peru
peru_url = 'https://firms.modaps.eosdis.nasa.gov/api/country/csv/' + MAP_KEY + '/MODIS_NRT/PER/4'
df_peru = pd.read_csv(peru_url)
df_peru

,country_id,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight
0,PER,-7.23456,-76.62427,315.61,1.39,1.17,2024-06-28,1501,Terra,MODIS,74,6.1NRT,295.47,14.43,D
1,PER,-6.96542,-76.73100,311.75,1.35,1.15,2024-06-28,1501,Terra,MODIS,68,6.1NRT,294.81,9.15,D
2,PER,-5.77554,-80.01067,328.75,1.00,1.00,2024-06-28,1501,Terra,MODIS,82,6.1NRT,299.92,18.17,D
3,PER,-5.53219,-80.79790,313.66,1.02,1.01,2024-06-28,1501,Terra,MODIS,45,6.1NRT,295.83,5.94,D
4,PER,-16.05435,-71.80772,319.59,1.44,1.19,2024-06-28,1923,Aqua,MODIS,54,6.1NRT,301.60,17.72,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,PER,-8.35827,-74.80489,301.62,1.24,1.10,2024-07-01,302,Terra,MODIS,26,6.1NRT,291.15,6.14,N
87,PER,-5.53292,-80.80172,322.52,1.31,1.14,2024-07-01,1951,Aqua,MODIS,70,6.1NRT,298.41,14.75,D
88,PER,-4.87901,-80.88615,319.19,1.32,1.14,2024-07-01,1951,Aqua,MODIS,48,6.1NRT,298.78,7.77,D
89,PER,-4.86830,-80.81569,323.77,1.34,1.15,2024-07-01,1951,Aqua,MODIS,59,6.1NRT,300.45,13.69,D
90,PER,-4.86651,-80.80390,323.76,1.34,1.15,2024-07-01,1951,Aqua,MODIS,60,6.1NRT,301.46,13.31,D

---

## FIRMS Datasets

---

As you may have seen when looking at data_availability there are following available datasets:

- LANDSAT_NRT **US/Canada only** [data attributes](https://www.earthdata.nasa.gov/faq/firms-faq#ed-landsat-fires-attributes)
- MODIS_NRT [data attributes](https://www.earthdata.nasa.gov/learn/find-data/near-real-time/firms/mcd14dl-nrt#ed-firms-attributes)
- MODIS_SP [data attributes](https://www.earthdata.nasa.gov/learn/find-data/near-real-time/firms/mcd14dl-nrt#ed-firms-attributes)
- VIIRS_NOAA20_NRT [data attributes](https://www.earthdata.nasa.gov/learn/find-data/near-real-time/firms/vnp14imgtdlnrt#ed-viirs-375m-attributes)
- VIIRS_SNPP_NRT [data attributes](https://www.earthdata.nasa.gov/learn/find-data/near-real-time/firms/vnp14imgtdlnrt#ed-viirs-375m-attributes)
- VIIRS_SNPP_SP [data attributes](https://www.earthdata.nasa.gov/learn/find-data/near-real-time/firms/vnp14imgtdlnrt#ed-viirs-375m-attributes)

**NRT**: dataset consists of (Near Real-Time, Real-Time and Ultra Real-Time) data. [view details on RT and URT](https://www.earthdata.nasa.gov/faq/firms-faq#ed-urt-rt-data). Also explore our blog: [Wildfire detection in the US and Canada within a minute of satellite observation](https://wiki.earthdata.nasa.gov/display/FIRMS/2022/07/14/Wildfire+detection+in+the+US+and+Canada+within+a+minute+of+satellite+observation)

**SP**: Standard Processing; standard data products are an internally consistent, well-calibrated record of the Earth’s geophysical properties to support science. There is a multi-month lag in this dataset availability. [more information on SP vs NRT](https://www.earthdata.nasa.gov/faq/firms-faq#ed-nrt-standard)

---

## Summary

---

Thank you for taking time to go over the tutorial. We hope you enjoyed it and if you have any questions or comments please use the 'Feedback' form at the top of our site [firms.modaps.eosdis.nasa.gov](https://firms.modaps.eosdis.nasa.gov)